<?xml version="1.0" ?>

<launch>

  <arg name="robot_ip" default="172.16.0.2" />
  <arg name="load_gripper" default="true" />

  <include file="$(find franka_control)/launch/franka_control.launch" >
    <arg name="robot_ip" value="$(arg robot_ip)" />
    <arg name="load_gripper" value="$(arg load_gripper)" />
  </include>

  <include file="$(find cobot_controllers)/launch/joint_position_control.launch" />

  <!--
  <include file="$(find cobot_controllers)/launch/moveit_control.launch">
    <arg name="load_gripper" value="$(arg load_gripper)" />
  </include>


 <node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_broadcaster2"
      args="0.264391 -0.317064 -9.58186 -0.0234475 0.0110475 0.488416 0.872226 panda_link8 camera_color_optical_frame" />
  -->


</launch>
