<?xml version="1.0" ?>

<launch>

    <arg name="robot_ip" default="130.230.37.115"/>
    <arg name="load_gripper" default="true" />
    <include file="$(find panda_moveit_config)/launch/panda_control_moveit_rviz.launch" >
      <arg name="robot_ip" value="$(arg robot_ip)" />
      <arg name="load_gripper" value="$(arg load_gripper)" />
    </include>

    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/>

    <include file="$(find cobot_vision)/launch/static_transform.launch"/>
    <include file="$(find cobot_vision)/launch/tag_detector.launch"/>

    <include file="$(find cobot_controllers)/launch/moveit_cartesian.launch"/>
    <include file="$(find cobot_controllers)/launch/moveit_joint_space.launch"/>
    <!--
    <node name="cobot_control" type="basic_control.py" pkg="cobot_control" output="screen" />

    <node name="cobot_reset" type="move_start.py" pkg="cobot_control" output="screen" />

    <node name="cobot_error_recovery" type="recover_error.py" pkg="cobot_control" output="screen" />
    -->

</launch>
