<launch>
  <!-- The rpy in the comment uses the extrinsic XYZ convention, which is the same as is used in a URDF. See
       http://wiki.ros.org/geometry2/RotationMethods and https://en.wikipedia.org/wiki/Euler_angles for more info. -->
  <!-- xyz="0.264391 -0.317064 -9.58186" rpy="3.08987 -3.13796 -2.12076" -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_broadcaster"
      args="0.264391 -0.317064 -9.58186   -0.0234475 0.0110475 0.488416 0.872226 panda_link8 camera_color_optical_frame" />
</launch>
