<?xml version="1.0" ?>

<launch>
      <include file="$(find realsense2_camera)/launch/rs_camera.launch" />

      <!--
      <include file="$(find cobot_vision)/launch/cranfield_detector.launch" />
      <include file="$(find cobot_vision)/launch/area_detector.launch" />
      <include file="$(find cobot_vision)/launch/tag_detector.launch" />
      -->
</launch>
