<?xml version="1.0" ?>

<launch>

    <include file="$(find realsense2_camera)/launch/rs_camera.launch" />

    <include file="$(find apriltag_ros)/launch/continuous_detection.launch" />

    <node pkg="tf" type="static_transform_publisher" name="cameras_br"
      args="0 0 0 0 0 0 1 camera_color_optical_frame camera 100"
    />

    <!--
    <node pkg="tf" type="static_transform_publisher" name="br_tag_two_four"
      args="-0.249849570404 0.184141242509 0 0 0 0 1
      tag_24 panda_link0 100"
    />

    <node pkg="tf" type="static_transform_publisher" name="br_tag_two_zero"
      args="-0.665074181871 -0.13983421744 0 0 0 0 1
      tag_20 panda_link0 100"
    />
  -->
    <node pkg="tf" type="static_transform_publisher" name="br_tag_two_two"
      args="-0.653273000905 0.19338293597 0 0 0 0
      tag_22 panda_link0 100"
    />


</launch>
