<?xml version="1.0" ?>

<launch>
    <node pkg="tf" type="static_transform_publisher" name="cameras_br"
      args="0 0 0 0 0 0 1 camera_color_optical_frame camera 100"
    />
    <node pkg="tf" type="static_transform_publisher" name="br_tag_two_two"
      args="-0.632519577567 0.175147983217 0 0 0 0
      tag_22 panda_link0 100">

    <include file="$(find apriltag_ros)/launch/continuous_detection.launch" />

    <node pkg="cobot_vision" type="calculate_tag_pose.py" name="tag_detector" output="screen" />

</launch>
