<?xml version="1.0" ?>

<launch>

    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/>

    <include file="$(find cobot_control)/launch/semantic_control.launch"/>
    <include file="$(find cobot_vision)/launch/cobot_vision.launch"/>
    <include file="$(find cobot_nlp)/launch/conversation.launch"/>

</launch>
